<template name="header">
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">{{i18n "header.title"}}</span>
                        <hr class="star-light">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>{{i18n "header.left_p1"}}</p>
                    <p>{{i18n "header.left_p2"}}</p>
                </div>
                <div class="col-lg-4">
                    <p>{{i18n "header.right_p1"}}</p>
                    <p>{{i18n "header.right_p2"}}</p>
                </div>
            </div>
        </div>
    </header>
</template>