<template name="nextSteps">
    <section class="success" id="spread">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>STEP 4: Spread the word</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>BUT DO NOT BEGIN ACTIVELY ORGANIZING...yet. Tell other drivers about this site. But do not become a lone target for Uber. Once we have strength in numbers, then it will be time to openly support this organization and we will hold mass meetings for all Uber drivers everywhere.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>STEP 5: Watch for...</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Watch for emails and texts from us. Once enough people have signed up, we will work with the drivers you've nominated to organize simultaneous meetings in every Uber city. These first meetings will be a chance to meet in person and discuss strategy and major issues. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>STEP 6: Demands</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Next, there will be an online process in which drivers can prioritize their demands in each countries. There will also be a process of nomination and election of a temporary representative leadership to begin drafting demands to bring to negotiations with Uber -- and a plan for what to do if Uber chooses not to negotiate. The Internet will allow us to have a more collaborative process than any workers' organization in history.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>STEP 7: In your hands</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>From here on it's in your hands to decide!</p>
                </div>
            </div>
        </div>
    </section>

</template>