<template name="nominate">
    <section id="nominate" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>STEP 2: Nominate</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Nominate yourself and/or drivers who you trust and respect to organize the first local meeting of this organization in your city. (We guarantee 100% anonymity during this process.)</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    {{#autoForm collection="Introductions" id="nominateForm" type="insert"}}
                    {{> afQuickField name="type" type="hidden" value="nominate" label=" "}}
                    <span id="nominateMyself" class="btn btn-primary">I Nominate Myself</span>
                    {{> afQuickField name="name" options="auto"}}
                    {{> afQuickField name="city" options="auto"}}
                    {{> afQuickField name="mobile" options="auto"}}
                    {{> afQuickField name="email" options="auto"}}
                    <div>
                        <button type="submit" class="btn btn-primary">Nominate</button>
                        <span id="skipNominate" class="btn btn-default" onclick="scrollToSection('suggest')">Skip</span>
                    </div>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </section>
</template>