<template name="signup">
    <section id="signup">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>STEP 1: Sign Up</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row" id="signUpFormContainer">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>{{i18n "signup.confidential"}}</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    {{#autoForm collection="Signees" id="signUpForm" type="insert"}}
                    {{#with formLabels}}
                    {{> afQuickField name="mobile" options="auto" label=mobile}}
                    {{> afQuickField name="carType" options="auto" label=car_type}}
                    {{> afQuickField name="city" options="auto" label=city}}
                    {{> afQuickField name="email" options="auto" label=email}}
                    {{> afQuickField name="name" options="auto" label=name}}
                    {{> afQuickField name="languagePreference" options="auto" label=language_preference}}
                    {{/with}}
                    <div>
                        <button type="submit" class="btn btn-primary">{{i18n "signup.form.signup"}}</button>
                    </div>
                    {{/autoForm}}
                </div>
            </div>
            <div class="row" id="moreAboutMeFormContainer">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>{{i18n "signup.more_about_me"}}</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    {{#autoForm collection="Signees" doc=currentSignee id="moreAboutMeForm" type="update"}}
                    {{> afQuickField name="postalCode" options="auto"}}
                    {{> afQuickField name="startYear" options="auto"}}
                    {{> afQuickField name="languagesSpoken" noselect=true}}
                    {{> afQuickField name="otherLanguages" options="auto"}}
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <span class="btn btn-default" onclick="scrollToSection('nominate')">Skip</span>
                    </div>
                    {{/autoForm}}
                </div>
            </div>
            <div class="row" id="thankForSigningUp">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>{{i18n "signup.thank"}}</p>
                </div>
            </div>
        </div>
    </section>
</template>